<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title th:text="${title}"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" th:fragment="navbar (active)">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Telecom 2024</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mt-lg-0">
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'PROFESOR', 'ALUMNO')">
                    <a class="nav-link" th:classappend="${active == 'Dispositivos'?'active':''}"
                       th:href="@{/dispositivos}">Dispositivos</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ALUMNO')">
                    <a class="nav-link" th:classappend="${active == 'Reservas'?'active':''}"
                       th:href="@{/reservas}">Reservas</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('PROFESOR')">
                    <a class="nav-link" th:classappend="${active == 'Prestamos'?'active':''}"
                       th:href="@{/prestamos}">Prestamos</a>
                </li>
            </ul>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">(Iniciar Sesión)</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <span th:text="|Bienvenido ${session.usuario.nombre} ${session.usuario.apellido}|"></span>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-link" type="submit" value="(Cerrar Sesión)">
                </form>
            </div>
        </div>
    </div>
</nav>
<script th:fragment="footer-bootstrap" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>